/* fonts.css */

@font-face {
  font-family: "MapleMono";
  src: url("../../../public/fonts/fonts/Maple-Bold.ttf") format("woff2"),
    url("../../../public/fonts/fonts/Maple-Black.ttf") format("woff");
  /* Add additional font formats if necessary */
  /* Specify font-weight and font-style if needed */
  font-weight: bold;
  font-style: normal;
}
